---
title: Charts
layout: default
---

<div class="container">
  {% for fund in funds %}
    <h2>{{ fund.name }} Fund</h2>
    <div class="chart-wrapper">
      <canvas class="chart" data-fund="{{ fund.name }}" >
        <p>
          This chart displays the price and 10-month SMA for the {{ fund.name }} Fund. Visit the <a href="{{ '/history' | url }}">History</a> page to see the same data in tabular format.
        </p>
      </canvas>
    </div>
  {% endfor %}
</div>
