<div class="container">
  <p><a class="btn btn-outline-primary" href="/">Back</a></p>

  <% @funds.each do |fund| %>
    <h2><%= fund.name %> Fund</h2>
    <div class="chart-wrapper">
      <canvas class="chart" data-fund="<%= fund.name %>"></canvas>
    </div>
  <% end %>

  <p><a class="btn btn-outline-primary" href="/">Back</a></p>
</div>
