<!DOCTYPE html>
<html>
<head>
  <title>Tactial Thrift</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class="background"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Tactical Thrift</h1>
      </div>
    </div>
  </div>

  <%= yield %>
</body>
</html>
