<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Tactial Thrift</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="site-header">
          <h1>Tactical Thrift</h1>
          <p class="text-muted">A TSP investment model based on <i><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=962461">A Quantitative Approach to Tactical Asset Allocation</a></i> by Mebane Faber.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">&nbsp;</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if @page == 'Home' %>">
            <a class="nav-link" href="/"><span>Home</span></a>
          </li>
          <li class="nav-item <%= 'active' if @page == 'Charts' %>">
            <a class="nav-link" href="/charts"><span>Charts</span></a>
          </li>
          <li class="nav-item <%= 'active' if @page == 'History' %>">
            <a class="nav-link" href="/history"><span>History</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer-section">
            <p class="footer-github">
              <a href="https://github.com/jfredrickson/tactical-thrift"><img class="icon" src="/images/github.png"></a>
              <a href="https://github.com/jfredrickson/tactical-thrift">Fork this app on GitHub</a>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer-section">
            <p class="footer-beta">This site is in beta.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
  <script src="/javascripts/charts.js"></script>
</body>
</html>
