<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Tactial Thrift</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ '/assets/stylesheets/styles.css' | url }}">
</head>
<body class="d-flex flex-column min-vh-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="site-header">
          <h1>Tactical Thrift</h1>
          <p class="text-muted">A TSP investment model based on <i><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=962461">A Quantitative Approach to Tactical Asset Allocation</a></i> by Mebane Faber.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">&nbsp;</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if title == "Home" %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | url }}"><span>Home</span></a>
          </li>
          <li class="nav-item {% if title == "Charts" %}active{% endif %}">
            <a class="nav-link" href="{{ '/charts' | url }}"><span>Charts</span></a>
          </li>
          <li class="nav-item {% if title == "History" %}active{% endif %}">
            <a class="nav-link" href="{{ '/history' | url }}"><span>History</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  {{ content | safe }}

  <footer class="mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="footer-section">
            <p class="footer-github">
              <a href="https://github.com/jfredrickson/tactical-thrift"><img class="icon" src="{{ '/assets/images/github.png' | url }}"></a>
              <a href="https://github.com/jfredrickson/tactical-thrift">Fork this app on GitHub</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
  <script src="{{ '/assets/javascripts/charts.js' | url }}"></script>
</body>
</html>
