body {
  font-family: "Lato", sans-serif;
}

.site-header {
  margin: 3em 0;
  text-align: center;

  h1 {
    font-size: 3em;
    font-weight: bold;
  }
}

.fund-card {
  border-color: white;
  background-color: #f6f6f6;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;

  h2 {
    font-size: 3em;
    color: white;
    background-color: #1468cc;
    font-weight: lighter;
  }

  b {
    font-weight: bold;
  }

  .fund-status-icon {
    height: 80px;
    width: auto;
  }

  .details-price, .details-sma {
    margin: 1em 0;
  }

  .details-price-amount, .details-sma-amount {
    font-weight: bold;
  }
}

.history {
  margin: 1em;
}

section#about {
  margin: 4em 0;

  h2 {
    text-align: center;
    margin: 1em auto;
  }
}

footer {
  padding: 2em 0;
  color: white;
  background-color: #333;

  p {
    margin: 0;
  }

  a, a:hover, a:active, a:visited {
    color: lighten(#0275d8, 40%);
  }

  img.icon {
    vertical-align: middle;
    height: 25px;
    width: auto;
  }

  .footer-section {
    text-align: center;
  }

  @media (min-width: 598px) {
    .footer-github {
      text-align: left;
    }

    .footer-beta {
      text-align: right;
    }
  }
}

.chart-wrapper {
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em auto 2em;
}
