name: Update TSP share price data

on:
  schedule:
    # 6:00 and 12:00 UTC daily
    - cron: "0 6,12 * * *"
    # Every 5 minutes, only for testing
    # - cron: "*/5 * * * *"
  workflow_dispatch:

permissions:
  contents: read  # Required for checkout

jobs:
  scheduled-prices-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: appToken
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          ref: main
          token: ${{ steps.appToken.outputs.token }}
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm install
      - run: npm run update-prices
      - run: git add _data/prices.json
      - uses: dsanders11/github-app-commit-action@v1
        with:
          message: update share price data
          token: ${{ steps.appToken.outputs.token }}
          fail-on-no-changes: false
